@font-face {
    font-family: the-curious-cat;
    src: url(./fonts/the-curious-cat.woff);
}

body {
    display: flex;
}

.side-banner {
    font-family: 'the-curious-cat', sans-serif;
    flex: 1 1 auto;
}

.side-banner-text {
    position: absolute;
    bottom: 0px;
    font-size: 5rem;
    opacity: 40%;
    background-color: rgb(16, 19, 19);
    text-align: center;
    justify-content: center;
    color: white;
    padding: 10px 20px;
}

.main-body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    flex: 2 1 80%;
}

.club-description {
    flex: auto;
    background-color: lightgrey;
    padding-left: 20px;
}

.disclaimer, .info-text {
    padding: 0;
    margin: 0;
}

.disclaimer {
    font-size: .75em;
    padding-top: 10px;
}

.info-text {
    font-size: 1em;
    margin-top: 30px;
}

.personal-info {
    flex: auto;
    background-color: white;
}

.create-account {
    flex: auto;
    background-color: lightgrey;
}


form {
    margin: 0 auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    max-width: 45vw;
}
  
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    gap: 2em;
}
  
form li + li {
    margin-top: 1em;
}
  
label {
    display: inline-block;
    width: 20vw;
    text-align: left;
}
  
label > input {
    font: 1em sans-serif;
    width: 20vw;
    box-sizing: border-box;
    border: 1px solid #999;
}
  
input:focus {
    box-shadow: 5px 5px 5px rgb(78, 77, 77);
    outline: solid 1px blue;
}
  
.entry {
    padding: 10px 30px;
    background-color: #596D48;
    position: relative;
    top: 3em;
    left: 3em;
    border: 1px solid #596D48;
    border-radius: 10px;
}

input[type="password"]:invalid:focus {
    outline: solid 1px red;
}

h1 {
    padding-left: 1.5em;
}

img {
    max-width: 45vw;
    height: 100vh;
}