@font-face {
    font-family: the-curious-cat;
    src: url(./fonts/the-curious-cat.woff);
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.side-banner {
    font-family: 'the-curious-cat', sans-serif;
    flex: 1 1 45%;
    background-image: url("cats.jpg");
    background-size: 100vh 45vw;
}

.side-banner-text {
    position: absolute;
    bottom: 5px;
    font-size: 5rem;
    opacity: 40%;
    background-color: rgb(16, 19, 19);
    width: 45vw;
    text-align: center;
    color: white;
}

.main-body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1 1 55%;
}

.club-description {
    flex: auto;
    background-color: lightgrey;
}

.personal-info {
    flex: auto;
    background-color: white;
}

.create-account {
    flex: auto;
    background-color: lightgrey;
}


form {
    margin: 0 auto;
    width: 45vw;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}
  
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    gap: 2em;
}
  
form li + li {
    margin-top: 1em;
}
  
label {
    display: inline-block;
    width: 20vw;
    text-align: left;
}
  
input {
    font: 1em sans-serif;
    width: 20vw;
    box-sizing: border-box;
    border: 1px solid #999;
}
  
input:focus {
    border-color: #000;
}
  
button {
    margin-left: 0.5em;
    position: relative;
    top: 5em;
    padding: 5px;
}

h1 {
    padding-left: 1.5em;
}